name: Deploy Hugo site to Vercel

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  buildAndDeployVercel:
    runs-on: ubuntu-latest
    steps:
      - name: Install Hugo CLI
        run: sudo apt install hugo
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build with Hugo
        run: |
          hugo \
            --minify \
            --baseURL https://stefma.guru
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Deploy to Vercel
        working-directory: ./public
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        run: |
          vercel pull --yes --token=${{ secrets.VERCEL_TOKEN }}
          vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
          vercel deploy --prod --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
